body {
	margin: 0;
}
/*----------Nav*/
.nav-ariana {
	background-color: #F9CBCD;
	width: 100vw;
	padding: 2% !important; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);	
}

/*----------Hero*/
.hero {
	background: url("../images/ari-banner3.jpg");
	width: 100vw;
    height: 75vh;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
  	padding: 100px 0;
    background-size: cover;
}

/*----------Footer*/
footer {
	background-color: #F9CBCD;
	min-height: 120px;
	width: 100vw !important;
}

.footeritem {
	padding: 0;
}

.footeritem a {
	width: 100%;
	text-decoration: none;
	height: 120px;
	display: flex;
    justify-content: center;
}

.footeritem a i {
	padding-top: 22px;
    color: #040304;
    font-size: 26px;
}